/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D2D2D2;
  background-image:
    repeating-linear-gradient(to right, transparent 0 100px, #25283b22 100px 101px),
    repeating-linear-gradient(to bottom, transparent 0 100px, #25283b22 100px 101px);
}

body::before {
  position: absolute;
  width: min(1400px, 90vw);
  top: 10%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  content: '';
  /* background-image: url('/images/bg.jpg'); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  pointer-events: none;
}
.background-gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    radial-gradient(
      circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      rgba(120, 119, 198, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 20%,
      transparent 50%
    ),
    linear-gradient(45deg, #667eea 0%, #764ba2 25%, #f093fb 50%, #f5576c 75%, #4facfe 100%);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  z-index: -2;
  transition: all 0.1s linear;
}
@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Banner */
.banner {
   width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Slider */
.banner .slider {
  position: absolute;
  width: 180px;
  height: 240px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 25s linear infinite;
  z-index: 2;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) perspective(1000px) rotateX(-10deg);
}



@keyframes autoRun {
  from {
    transform: translate(-50%, -50%) perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: translate(-50%, -50%) perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content */
.banner .content {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}

.banner .content h1 {
  font-size: 10em;
  color: #25283B;
}

.banner .content .author {
    text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative; 
}

/* Responsive */
@media screen and (max-width: 1023px) {
  .banner .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }
  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(300px);
  }
}

@media screen and (max-width: 767px) {
  .banner .slider {
    width: 100px;
    height: 150px;
    left: calc(50% - 50px);
  }
  .banner .slider .item {
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
      translateZ(180px);
  }
}